@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme {
  /* Colors */
  --color-brand: #236ea5;
  --color-hover: #105587;
  --color-sky: #0a8ded;
  --color-card: #edeef5bb;
  --color-prof: #d8e7e1bb;
  --color-fade: #ffffff80;

  /* Fonts */
  --font-sans: 'Fira Sans', sans-serif;
  --font-mono: 'Fira Code', monospace;
}

@layer base {
  @font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      local('Fira Code'),
      url('$lib/fonts/FiraCode/Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      local('Fira Sans'),
      url('$lib/fonts/FiraSans/Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
      local('Fira Sans'),
      url('$lib/fonts/FiraSans/Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src:
      local('Fira Sans'),
      url('$lib/fonts/FiraSans/Italic.woff2') format('woff2');
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-sm;
  }
}
