footer {
    background-color: var(--brand-color);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

footer img {
    --icon-size: 64px;
    height: var(--icon-size);
    width: var(--icon-size);
}

footer ul {
    margin: 0;
    padding: 0;
}

footer li {
    list-style-type: none;
}

footer a {
    color: currentColor;
}
