:root {
    --outer-margin: 1rem;
    font-family: 'Fira Sans', sans-serif;
}

code {
    font-family: 'Fira Code', monospace;
}

body, h1, h2, h3, p, ul {
    margin: 0;
}

blockquote {
    margin: 0 0 0 2rem;
}

img.icon {
    --icon-size: 32px;
    display: inline-block;
    height: var(--icon-size);
    width: var(--icon-size);
}
