@import './vars.css';

body, h1, h2, h3, p {
    margin: 0;
}

header {
    background-color: var(--sky-color);
    background-image: linear-gradient(0, white 0%, var(--sky-color) 100%);
    background-repeat: no-repeat;
    height: 100dvh;
}

main {
    background-color: white;
}

#social {
    background-color: #ffffff80;
    border-radius: 1rem;
    display: inline-flex;
    gap: 1rem;
    padding: 1rem;
}

#social > a {
    display: block;
}

#social img {
    height: 50px;
    width: 50px;
}
