#projects {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(52ch, 100%), 1fr));
}

#projects > section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#projects > section {
    background-color: var(--card-color);
    border-radius: 1rem;
    padding: 1rem;
}

#projects > section > div {
    display: flex;
    gap: 0.5rem;
}

#projects img {
    min-width: 0;
    max-height: var(--img-min);
}

#chrozone {
    --img-min: 596px;
}

#doctrack {
    --img-min: 1080px;
}

#palai {
    --img-min: 1080px;
}

#multicast {
    --img-min: 336px;
}

#quizzo {
    --img-min: 549px;
}

#snake {
    --img-min: 840px;
}

#soundrave {
    --img-min: 768px;
}
